$font-work-sans: 'Work Sans', sans-serif;

$primary-color: #213f7d;
$secondary-text-color: #545f7d;
$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

.dashboardContainer {
  display: flex;
  flex-direction: column;
  font-family: $font-work-sans;
  gap: 30px;
  padding-top: 50px;
  padding-left: 5%;

  .cardtitle {
    font-size: 24px;
    font-weight: 500;
    color: $primary-color;
  }

  .statsContainer {
    width: 94%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    .statsBox {
      background: white;
      padding: 20px;
      box-shadow: $box-shadow;
      border-radius: 4px;
      width: 250px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;

      h3 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: $secondary-text-color;
      }

      p {
        font-size: 24px;
        font-weight: 700;
        color: $primary-color;
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .statsContainer {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5%;
  }
  .statsBox {
    width: 47% !important;
  }
}
@media (max-width: 480px) {
  .dashboardContainer {
    padding-left: 5%;
  }
  .statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
  }
  .statsBox {
    width: 100% !important;
  }
}
