// Global variables
$font-work-sans: "Work Sans", sans-serif;

// Colors
$primary-color: #213F7D;
$secondary-text-color: #545F7D;
$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

.dashboardContainer {
  display: flex;
  flex-direction: column;
  font-family: $font-work-sans;
  gap: 30px;
  padding-top: 50px;
  padding-left: 5%;

  .cardtitle {
    font-size: 24px;
    font-weight: 500;
    color: $primary-color;
  }

  .statsContainer {
    width: 94%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    .statsBox {
      background: white;
      padding: 20px;
      box-shadow: $box-shadow;
      border-radius: 4px;
      width: 250px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;

      h3 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: $secondary-text-color;
      }

      p {
        font-size: 24px;
        font-weight: 700;
        color: $primary-color;
        padding-bottom: 10px;
      }
    }

    @media (max-width: 1024px) {
      justify-content: center;
    }

    @media (max-width: 768px) {
      .dashboardContainer{
        padding-left: 2.5%;
      }
    }
  }
}
