$primary-bg: #fbfbfb;
$font-primary: "Work Sans", sans-serif;
$sidebar-width: 250px;
$navbar-height: 80px;

.mainLayout {
  background-color: $primary-bg;
  width: 100%;
  margin-left: $sidebar-width;

}

.container {
  display: flex;
  width: 100%;
  margin-top: $navbar-height;
}

@media (max-width: 820px) {
.mainLayout{
  margin-left: 0px;

}
  
}